.container
  .row
    .col-3
      = render 'sidemenu', selected_key: @article.kana_index

    .col
      %h2 #{@article.name}(#{@article.kana})
      = @article.category_name
      %p= @article.text
